node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.env
/.env

mobile-authentication-89726-firebase-adminsdk-fbsvc-93f88bb764.json
/mobile-authentication-89726-firebase-adminsdk-fbsvc-93f88bb764.json